body {
    background-color: #28282B;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-family: monospace;
    
}

.buttons {
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    background-color: #36454f;
    margin: 3px;
}

button:active {
    background-color: black;
}

button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 3px;
    border-color: antiquewhite;
    border-width: 0px;
}

.input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}
#backspace {
    background-color: black;
    color: white;
}
#backspace:active {
    background-color: red;
}

#decimal:active {
    background-color: black;
}
#decimal {
    background-color: #d3d3d3;
}
#divide:active {
    background-color: black;
}
#multiply:active {
    background-color: black;
}
#minus:active {
    background-color: black;
}
#plus:active {
    background-color: black;
}
#equal:active {
    background-color: black;
}
#clear:active {
    background-color: black;
}
#divide, #multiply, #minus, #plus {
    background-color: #ffbf00;
}
#equal {
    background-color: #afe1af;
}
#clear {
    background-color: #dc143c;
}

.display {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-items: end;
    justify-content: space-around;
    margin-right: 100px;
}
.inputDisplay {
    color: #fffff0;
}
.answer {
    color: #afe1af;
    font-weight: bold;
    font-size: 30px;
    
}
